body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.header img {
    max-width: 150px;
}

h1, h2 {
    color: #0073b1;
}

form {
    margin: 20px 0;
}

input[type="file"] {
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #0073b1;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #005a8c;
}

#resultados {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
}

#resultados h2 {
    color: #009688;
}

#resultados p {
    margin: 5px 0;
}